<h1>Bienvenue sur Conventio !</h1>

<p>
    Merci de confirmer votre adresse email en cliquant sur le lien suivant : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse email</a>.
    <br><br>
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    À bientôt,<br>
    L'équipe administrative du Lycée Gabriel Fauré.
</p>
