<h1>Bonjour !</h1>

<p>Une demande de réinitialisation de mot de passe a été effectuée pour votre compte sur la plateforme <strong>Convention Stage - Lycée Faure</strong>.</p>

<p>Pour définir un nouveau mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">Réinitialiser mon mot de passe</a>

<p>Ce lien est valide pendant {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.</p>

<p>Si vous n'êtes pas à l'origine de cette demande, vous pouvez ignorer cet email.</p>

<p>Cordialement,<br>
    L'équipe administrative du Lycée Faure</p>
